body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
}

.page-content {
  margin-top: 100px;
}

.form-content {
  background-color: #f3f3f3;
}
// Footer
